.container {
    display: flex;
    flex-direction: column;
    position: static;
    overflow: hidden; /* Esconde a barra de rolagem */
  }

.pesquisaHeader {
    margin-bottom: 20px;
    font-weight: normal;
}
  

.whiteBox {
    flex: 1; /* Ocupa o espaço restante */
    background-color: white;
    padding: 20px;
    border-radius: 8px; /* Opcional */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Para um efeito de sombra */
    display: flex;
    flex-direction: column;

}

.buttonsContainer {
    display: flex;
    position: relative;
    border-bottom: 2px solid #ddd; /* Linha base cinza */
    gap: 10vw; /* Espaçamento entre os botões */
}
  .button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    color: #888; /* Cinza para texto inativo */
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .activeButton {
    color: #007bff; /* Azul para botão ativo */
  }
  
  .activeButton::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #007bff; /* Linha azul para botão ativo */
  }
.content {
  flex: 1;
  overflow-y: auto; /* Permite rolagem se o conteúdo for grande */
}

