.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura total da janela */
  position: static;
}

.pesquisaHeader {
  margin-bottom: 1.25rem;
  font-weight: normal;
}

.whiteBox {
  flex: 1; /* Ocupa o espaço restante */
  display: flex;
  flex-direction: column;
  background-color: var(--backgrond);
  padding: 1.12rem;
  border-radius: 8px; /* Opcional */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Para um efeito de sombra */
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #ddd; /* Linha base cinza */
}

.button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #888; /* Cinza para texto inativo */
  font-size: 1rem;
  font-weight: bold;
  padding: 0.625rem;
  transition: color 0.3s ease;
}

.activeButton {
  color: var(--blue-500);
}

.activeButton::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #007bff; /* Linha azul para botão ativo */
}
.content {
  flex: 1;
  overflow-y: auto; /* Permite rolagem se o conteúdo for grande */
}

.details {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  gap: 100px; /* Espaçamento entre os elementos */
}

.object {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  gap: 100px; /* Espaçamento entre os elementos */
}

.keywords {
  margin-top: 20px;
  padding: 10px;
}

.keywords p {
  font-weight: bold;
  color: #333;
}

.keywordsList {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  gap: 10px; /* Espaçamento entre os elementos */
  list-style-type: none;
}

.keywordItem {
  background-color: #8bb1ff; /* Cor azul */
  color: white; /* Texto branco */
  padding: 5px 10px; /* Espaçamento interno para as palavras */
  border-radius: 5px; /* Bordas arredondadas */
  font-weight: bold; /* Negrito para as palavras */
}
