.container {
  margin: 0 auto;
  background-color: var(--background);
  width: 100%;
  height: calc(100vh - 10.4rem);
  overflow: auto;
}

@media screen and (max-width: 60rem) {
  .container {
    margin: 0 5%;
  }
}
