.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.75rem;
  padding-right: 1rem;
  border: 1px solid rgba(89, 90, 91, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--background);
  z-index: 999;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 4rem;
  height: 2rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.icon {
  background-color: var(--blue-700);
  padding: 8px; /* Aumenta o padding para um fundo maior */
  /* border-radius: 50%;  */
  display: inline-flex; /* Faz com que o ícone fique dentro de um contêiner flexível */
  justify-content: center; /* Centraliza o ícone */
  align-items: center; /* Centraliza o ícone */
  width: 40px; /* Ajusta o tamanho do contêiner */
  height: 30px; /* Ajusta o tamanho do contêiner */
}

.icon svg {
  width: 30px;
  height: 30px;
}

.compras {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--text-dark);
}

.ai {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--blue-700);
}

.logoLink {
  flex: 1;
}

.links {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.img {
  width: 6.25rem;
  height: inherit;
}

.loginDesktop {
  margin-left: 15px;
}

/*Nav Mobile*/
.mobileNav {
  display: none;
}

.icon {
  font-size: 30px;
}

@media screen and (max-width: 1366px) {
  .container {
    margin: 0 3%;
  }

  .logoLink {
    flex: 1;
  }
}

@media screen and (max-width: 933px) {
  .mobileNav {
    display: block;
  }

  .loginDesktop {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .img {
    /* width: 150px; */
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@keyframes linksAnim {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
