.status {
    padding: 0.6rem 1rem;
    border-radius: 8px;
    font-size: 0.9rem;
    align-self: center; /* Opcional: centraliza verticalmente */
    width: 2vw;
  }
  
  .fornecedor {
    background-color: #8BB1FF;
    color: white;

  }
  
  .ata {
    background-color: #C25D72;
    color: white;
    padding: 0.6rem 2.6rem;
  }
  