.container {
  display: flex;
  margin: 0px;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  background-color: var(--bg-dashboard);
  /* background-color: rgb(195, 255, 0); */
  height: calc(100vh - 4.46rem);
  /* overflow: auto; */
}

@media screen and (max-width: 60rem) {
  .container {
    margin: 0 5%;
  }
}
