.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  /* background-color: brown; */

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 85%;
  overflow-y: auto;
  height: auto;
}

@media screen and (max-width: 60rem) {
  .container {
    margin: 0 5%;
  }
}
